body{
    position: relative;
}
.burger_menu_wraper{
    display: none;
    position: fixed;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: url(../img/burger_bg.png) center (center/cover) no-repeat;
    overflow: overlay;
    z-index: 999999999;
    transform: 0.5s all;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    height: 100%;
    padding: 20px 15px;
    background-color: rgba(0,0,0,.8);
    -webkit-transition: .6s all;
    transition: .6s all;
    width: 100%;
    z-index: 9999999999;
    .burger_menu_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .burger_logo{
            max-width: 180px;
            width: 100%;
            a{
                display: block;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.burger_menu_wraper_link{
    list-style-type: none;
    padding: 5% 10% 5% 10%;
    margin-top: 5%;
    li{

        a{
            display: block;
            text-decoration: none;
            font-family: Poppins;
            font-weight: 500;
            font-size: 1rem;
            text-align: left;
            color: #fff;
            margin-bottom: 20px;
        }
    }
}

.burger_menu_footer{
    margin-top: 20px;
    .footer__line{
        margin-top: 20px;
    }
    .top{
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        text-align: left;
        color: #dc322a;
        span{
            color: #afafaf;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
    }
}
.burger_socials{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.burger_menu_wraper_active{
    left: 0;
    display: block;
    transition: 0.5s all;
}
.burger_menu{
    position: fixed;
    left: 95%;
    transition: t;
    transform: translateX(-100%);
    z-index: 99999999;
 
}