.vacancies{
    margin-bottom: 200px;
    margin-top: 100px;
    &__body{
        display: flex;
        justify-content: space-between;
        margin-top: 117px;
    } 
    &__items{
        width: 100%;
        padding-right: 134px;
        
        
            .vacancies__item{
                display: flex;
                border: 1px solid #d8d8d8;
                border-radius: 15px;
                padding: 30px;
                position: relative;
                justify-content: space-between;
                align-items: center;
                &::before{
                    content:'';
                    display: block;
                    background:url(../icons/line_li.png) no-repeat;
                    width: 4px;
                    height: 64px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .icon{
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background: #dc322a;
                    box-shadow: 0px 15px 55px rgba(220, 50, 42, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    transform: translateX(50%);
                    transition: 0.5s all;
                    img{
                        width: auto;
                    }

                }
                .title{
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 40px;
                    text-align: left;
                    color: #212022;

                }
                .time{
                    
                    &:before{
                        content:'';
                        background:url(../icons/clock-five.png) no-repeat;
                        display: block;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        left: -10px;
                        transform: translateX(-100%);

                    }

                }
            }
            .geo{
                &:before{
                    content:'';
                    background:url(../icons/geo_black.png) no-repeat;
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: -10px;
                    transform: translateX(-100%);

                }
            }
            .data{
                &:before{
                    content:'';
                    background:url(../icons/calendar.png) no-repeat;
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    left: -10px;
                    transform: translateX(-100%);

                }
            }
        
    }
  .vacancies__head{
        padding: 0 35px;
        &__items{
            display: flex;
            justify-content: space-between;
            .item{
                max-width: 260px;
                width: 100%;
                &_title{
                    margin-top: 10px;
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 24px;
                    text-align: left;
                    color: #212022;

                }
                &_subtitle{
                    font-family: Poppins_light;
                    font-weight: 300;
                    font-size: 16px;
                    text-align: left;
                    color: #212022;
                    margin-top: 10px;

                }
            
            }
            .remote{
                &:before{
                    background: url(../icons/user.png) left (center/cover) no-repeat;
                    content:'';
                    display: block;
                    width: 67px;
                    height: 70px;
                    background-position-x:-10px ;
                }
            }
            .delight{
                &:before{
                    background: url(../icons/party.png) left (center/cover) no-repeat;
                    content:'';
                    display: block;
                    width: 67px;
                    height: 70px;
                    background-position-x:-10px ;
                }
            }
            .updates{
                &:before{
                    background: url(../icons/up.png) left (center/cover) no-repeat;
                    content:'';
                    display: block;
                    width: 67px;
                    height: 70px;
                    background-position-x:-10px ;
                }
            }
        }

        
    
    }

}



.item_li{
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #afafaf;
    padding: 8px 16px;
    border-radius: 20px;
    background: #f3f3f3;
    box-shadow: 0px 15px 55px rgba(220, 50, 42, 0);
    position: relative;
    height: 40px;
}

.vacancie_descr{
    display: none;
    list-style-type: none;
    font-family: Poppins_light;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    color: #212022;
    padding: 28px 30px;
    transition: 0.5s all;
    ul{

        span{
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            text-align: left;
            color: #212022;
            margin-bottom: 16px;
            display: block;
            margin-top: 32px;
            position: relative;
            display: flex;
            align-items: center;
            &::before{
                content:'';
                background:url(../icons/block_check.png) no-repeat;
                width: 8px;
                height: 8px;
                display: block;
                margin-right: 8px;
            }
        }
        li{
            line-height: 30px;
        }
    }
    &_item_footer{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}

@keyframes opacity_anim{
    0%{
        opacity: 0;
        height: 0%;
    }
    100%{
        opacity: 1;
        height: max-content;
    }
}

.vacancie_descr_active{
    display: block;
    transition: 0.5s all;
    animation: opacity_anim 1s;
}
.arrow_vacancie{
    transition: 0.5s all;
}


.vacancies__item_wraper{
    margin-top: 30px;
}

.item_disable{
    display: none;
}
.vacancies__item_wraper_active{
    .vacancie_descr{
        display: block;
        transition: 1s all;
        animation: opacity_anim 1s;
    }
    .vacancies__item{
       .icon{
        transition: 0.5s all;
        transform: translateX(50%) rotate(180deg);
       }
    }
}